<h1> Виждате информация за филма "<%= @movie.name %>" </h1>
<p> Филмът е от <%= @movie.year %> година</p>
<p> Продължителността му е <%= @movie.length %> </p>
<p> Жанрът му е <%= @movie.genre %> </p>
<p> Описание: <br> <%= @movie.description %> </p>
<% if @movie.number_of_votes == 0 %>
	<p> Все още никой не е оценил този филм </p>
<% else %>
	<p> Рейтингът му е: <%= @movie.rating / @movie.number_of_votes %>
<% end %>

<h3> Оцени този филм: </h3>
<p>
	<% (1..10).each do |stars| %>
	        <% @stars = stars %>
	        <a href="/movie/<%= @movie.name %>/<%= @stars %>"><%= @stars %></a>
	<% end %>
</p>

<h3> Участници: </h3>

<form method="get" action="/add_person_to_movie/<%= @movie.name %>">
    <button type="submit" class="btn btn-default">Добавяне на участник</button>
</form>

<form method="get" action="/remove_person_from_movie/<%= @movie.name %>">
    <button type="submit" class="btn btn-default">Премахване на участник</button>
</form>

<% if @movie.people.empty? %>
	<p> Все още няма добавени участници за този филм </p>
<% else %>
	<% @movie.participations.each do |participation| %>
    	<p>
      		<% @id = participation.person_id %>
      		<% @person = Person.find_by(id: @id) %>
      		<a href="/person/<%= @person.name %>"><%= @person.name %></a>
      		; ролята му е: 
      		<%= participation.role %>
    	</p>
  	<% end %>	
<% end %>